@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900&display=swap");

html,
body {
    background-color: #222222;
    font-family: "Work Sans", sans-serif;
    color: white;
    word-wrap: break-word;
    text-align: justify;
}

header {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* background-color: #000040; */
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #007dff;
}

p {
    font-size: 12pt
}

summary {
    font-weight: bold;
    font-size: 14pt
}

a:visited {
    color: pink
}

a:link{
    color: cyan
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

span {
    text-align: left;
}

span > b {
    background-color: #000000aa;
    padding: 4px;
    font-weight: 600;
    font-size: 16pt
}

/* .text-center {
    text-align: center;
} */

.nav-btn {
    font-weight: 500;
    color: white;
    font-size: x-large;
    font-family: "Work Sans", sans-serif;
    margin: 6px 0;
    box-shadow: 0 6px black;
}

.nav-btn:hover {
    box-shadow: 0 6px black;
    color: greenyellow;
    font-style: underline;
}

.nav-btn:active {
    box-shadow: 0 3px black;
    transform: translateY(4px);
    color: yellow
}

/* .card-title {
    text-shadow: -1pt -1pt 0 black,
        1pt -1pt 0 black,
        -1pt 1pt 0 black,
        1pt 1pt 0 black;
} */



.card-title-text {
    font-weight: bold;
}

h1 {
    margin: 20px;
    padding: 10px;
    font-size: 32pt;
}

@media only screen and (min-width: 581px) {
    h1 {
        text-align: right;
        margin-right: 20px;
    }

    h2 {
        font-size: 42pt;
        color: yellow
    }

    .gmu-logo {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        /* This makes the logo's height match the header's height */
        width: auto;
        /* Maintain the aspect ratio of the logo */
    }
}

@media only screen and (max-width: 580px) {
    h1 {
        margin-top: 10px;
        padding: 0;
        text-align: center;
    }

    h2 {
        font-size: 28pt;
    }

    .gmu-logo {
        width: 102px;
        height: auto;
        margin-bottom: 10px;
    }

    header {
        align-items: center;
    }
}